# User-specific files
*.suo

# Build results of the framework-library
framework/lib/

# Build results within the visual_studio folder (framework and examples)
visual_studio/temp/
visual_studio/examples/**/[Tt]emp/
visual_studio/examples/**/[Bb]in/

# Visual Studio cache/options directory
.vs/

# Ignore temporary MS-Office files
~$*.doc*
~$*.dot*
~$*.xls*
~$*.xlt*
~$*.ppt*
~$*.pot*

# Ignore files produced by LaTeX
/_additional_documents/*/*.aux
/_additional_documents/*/*.bbl
/_additional_documents/*/*.blg
/_additional_documents/*/*.log
/_additional_documents/*/*.out
/_additional_documents/*/*.pdf
/_additional_documents/*/*.synctex.gz
